body {
  font-size: 10px;
}
.mob-wrapp {
  border: 10px solid red;
  position: relative;
  background-color: antiquewhite;
  width: 100%;
  /* height: 100vh; */
  aspect-ratio: 1/1.8;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .mob-wrapp::before {
  content: '';
  width: 85%;
  height: 85%;
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/img.svg);
} */
.box {
  height: 10%;
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
}
.box-1 {
  content: '';
  width: fill-available;
  width: -webkit-fill-available;
  width: -moz-available;
  top: 3%;
  left: 75%;
  background-image: url(../images/svg/Vector.svg);
}
.box-2 {
  content: '';
  width: -webkit-fill-available;
  top: 16.1%;
  left: 75%;
  background-image: url(../images/svg/Vector-1.svg);
}
.box-3 {
  content: '';
  width: -webkit-fill-available;
  top: 29.2%;
  left: 75%;
  background-image: url(../images/svg/Vector-2.svg);
}
.box-4 {
  content: '';
  height: 11%;
  width: -webkit-fill-available;

  top: -0.3%;
  left: 72.4%;
  background-image: url(../images/svg/Vector-3.svg);
}
.box-5 {
  content: '';
  height: -webkit-fill-available;
  width: 32.3%;

  top: 24.2%;
  left: 64.4%;
  background-image: url(../images/svg/Vector-4.svg);
}
.box-6 {
  content: '';
  height: -webkit-fill-available;
  width: 34%;
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  top: 45.8%;
  left: 52.5%;
  background-image: url(../images/svg/Vector-8.svg);
}
.box-7 {
  content: '';
  height: -webkit-fill-available;
  width: 34%;
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  top: 63.6%;
  left: 36.4%;
  background-image: url(../images/svg/Vector-7.svg);
}
.box-8 {
  content: '';
  height: -webkit-fill-available;
  width: 31.7%;
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  top: 75.8%;
  left: 18%;
  background-image: url(../images/svg/Vector-6.svg);
}
.box-9 {
  content: '';
  height: -webkit-fill-available;
  width: 27%;
  background-size: contain;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  top: 81.7%;
  left: -1.6%;
  background-image: url(../images/svg/Vector-5.svg);
}
/* ==================== */
.mob-wrapp-2 {
  border: 10px solid red;
  position: relative;
  background-color: antiquewhite;
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
.mob-wrapp-2::before {
  content: '';
  width: 85%;
  /* height: 85%; */
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/img.svg);
  aspect-ratio: 1/1.7;
}
.circle-wrapp {
  width: 85%;
  position: absolute;
  aspect-ratio: 1/1.7;
}
.circle {
  position: absolute;
  width: 10%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 2px solid grey;
}
.circle-1 {
  top: 4%;
  left: 82.7%;
}

.circle-2 {
  top: 17.7%;
  left: 82.7%;
}
.circle-3 {
  top: 31.5%;
  left: 82.7%;
}
.circle-4 {
  top: 45%;
  left: 81.7%;
}
.circle-5 {
  top: 58%;
  left: 75.9%;
}
.circle-6 {
  top: 69.5%;
  left: 64.9%;
}
.circle-7 {
  top: 79%;
  left: 48.9%;
}
.circle-8 {
  top: 85.6%;
  left: 28.9%;
}
.circle-9 {
  top: 89.2%;
  left: 6.9%;
}
/* =========sectors-wrapp============== */
.sectors-wrapp {
  width: 85%;
  position: absolute;
  aspect-ratio: 1/1.7;
}
.sector {
  position: absolute;
}
.sector::before {
  position: absolute;
  content: '';
  width: 100%;
  display: flex;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.sectors-1 {
  top: 0%;
  left: 75.8%;
  width: 19.2vw;
  height: 19.2vw;
}
.sectors-1::before {
  background-image: url(../images/svg/Vector.svg);
}
.sectors-2 {
  top: 13.2%;
  left: 75.8%;
  width: 19.2vw;
  height: 19.2vw;
}
.sectors-2::before {
  background-image: url(../images/svg/Vector-1.svg);
}
.sectors-3 {
  top: 26.7%;
  left: 75.8%;
  width: 19.2vw;
  height: 19.2vw;
}
.sectors-3::before {
  background-image: url(../images/svg/Vector-2.svg);
}
.sectors-4 {
  top: 40.1%;
  left: 73%;
  width: 21.7vw;
  height: 21.7vw;
}
.sectors-4::before {
  background-image: url(../images/svg/Vector-3.svg);
}
.sectors-5 {
  top: 51.6%;
  left: 65.6%;
  width: 25.1vw;
  height: 25.1vw;
}
.sectors-5::before {
  background-image: url(../images/svg/Vector-4.svg);
}
.sectors-6 {
  top: 62.1%;
  left: 53.9%;
  width: 26.8vw;
  height: 26.8vw;
}
.sectors-6::before {
  background-image: url(../images/svg/Vector-8.svg);
}
.sectors-7 {
  top: 71.3%;
  left: 38.3%;
  width: 26.8vw;
  height: 26.8vw;
}
.sectors-7::before {
  background-image: url(../images/svg/Vector-7.svg);
}
.sectors-8 {
  top: 78.1%;
  left: 20.4%;
  width: 25.3vw;
  height: 25.3vw;
}
.sectors-8::before {
  background-image: url(../images/svg/Vector-6.svg);
}
.sectors-9 {
  top: 82.6%;
  left: 1.2%;
  width: 21.7vw;
  height: 21.7vw;
}
.sectors-9::before {
  background-image: url(../images/svg/Vector-5.svg);
}

/* =========tasks-wrap=========== */
.tasks-wrap {
  width: 85%;
  position: absolute;
  aspect-ratio: 1/1.7;
  font-size: 120%;
}

.task {
  width: 68%;
  margin-bottom: 0px;
}
.task span {
  display: inline-flex;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background-color: #0085ff;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 140%;
  margin-right: 3px;
}
.task:not(:last-child) {
  margin-bottom: 1rem;
}
.task-1 {
  margin-top: 4px;
}
.task-7 {
  width: 62%;
}
.task-8 {
  width: 50%;
}
