#x-steeplechase {
  height: 100%;
  aspect-ratio: 3/5 auto;
}
#x-steeplechase::before {
  background-image: url(../images/x-steeplechase-board.svg);
}
#x-steeplechase .knight-b {
  width: 33.33%;
  height: 20%;
}
#x-steeplechase .knight-w {
  width: 33.33%;
  height: 20%;
}

.goal#x-steeplechase #x-steeplechase-1 {
  top: 80%;
  left: 0%;
}
.goal#x-steeplechase #x-steeplechase-2 {
  top: 80%;
  left: 66.6%;
}
.goal#x-steeplechase #x-steeplechase-3 {
  top: 60%;
  left: 0%;
}
.goal#x-steeplechase #x-steeplechase-4 {
  top: 60%;
  left: 66.6%;
}
.goal#x-steeplechase #x-steeplechase-5 {
  top: 20%;
  left: 0%;
}
.goal#x-steeplechase #x-steeplechase-6 {
  top: 20%;
  left: 66.6%;
}
.goal#x-steeplechase #x-steeplechase-7 {
  top: 0%;
  left: 0%;
}
.goal#x-steeplechase #x-steeplechase-8 {
  top: 0%;
  left: 66.6%;
}
#x-steeplechase-1 {
  top: 0%;
  left: 0%;
}
#x-steeplechase-2 {
  top: 0%;
  left: 66.6%;
}
#x-steeplechase-3 {
  top: 20%;
  left: 0%;
}
#x-steeplechase-4 {
  top: 20%;
  left: 66.6%;
}
#x-steeplechase-5 {
  top: 60%;
  left: 0%;
}
#x-steeplechase-6 {
  top: 60%;
  left: 66.6%;
}
#x-steeplechase-7 {
  top: 80%;
  left: 0%;
}
#x-steeplechase-8 {
  top: 80%;
  left: 66.6%;
}
