#g-knights-exchange {
  width: 200px;
  height: 250px;
}
#g-knights-exchange::before {
  background-image: url(../images/g-knights-exchange-board.svg);
}
#g-knights-exchange .knight-b {
  width: 25%;
  height: 20%;
}
#g-knights-exchange .knight-w {
  width: 25%;
  height: 20%;
}

#g-k-e-1 {
  top: 0%;
  left: 50%;
}
#g-k-e-2 {
  top: 0%;
  left: 25%;
}
#g-k-e-3 {
  top: 20%;
  left: 0%;
}
#g-k-e-4 {
  top: 40%;
  left: 0%;
}
#g-k-e-5 {
  top: 80%;
  left: 25%;
}
#g-k-e-6 {
  top: 80%;
  left: 50%;
}
#g-k-e-7 {
  top: 60%;
  left: 75%;
}
#g-k-e-8 {
  top: 40%;
  left: 75%;
}
