#arctic-knights {
  width: 100%;
  aspect-ratio: 5/4 auto;
  /* width: 250px;
  height: 200px; */
}

#arctic-knights::before {
  background-image: url(../images/arctic-knights-board.svg);
}
#arctic-knights .knight-b {
  width: 20%;
  height: 25%;
}
#arctic-knights .knight-w {
  width: 20%;
  height: 25%;
}

#a-k-1 {
  top: 50%;
  left: 0%;
}
#a-k-2 {
  top: 50%;
  left: 20%;
}
#a-k-3 {
  top: 75%;
  left: 20%;
}
#a-k-4 {
  top: 75%;
  left: 60%;
}
#a-k-5 {
  top: 50%;
  left: 60%;
}
#a-k-6 {
  top: 50%;
  left: 80%;
}
