#z-steeplechase {
  width: 200px;
  margin: 5px;
  /* width: 100%; */
  aspect-ratio: 3/4 auto;
  background-color: #4a619e;
  position: relative;
}
.goal#z-steeplechase {
  background-color: #f2f2f2;
}
.playfield#z-steeplechase {
  background-color: #f2f2f2;
}

#z-steeplechase .knight-b {
  width: 33.33%;
  height: 25%;
}
#z-steeplechase .knight-w {
  width: 33.33%;
  height: 25%;
}

#z-steeplechase .knight {
  width: 33.33%;
  aspect-ratio: 1/1;
  position: absolute;
}

#z-steeplechase-1 {
  top: 0%;
  left: 0%;

  background-color: #6c93e7;
  border-top-left-radius: 12%;
  border-bottom-left-radius: 12%;
  z-index: 3;
}
#z-steeplechase-2 {
  top: 0%;
  left: 33.33%;

  background-color: #ffc1b9;
}
#z-steeplechase-3 {
  top: 0%;
  left: 66.66%;

  background-color: #6c93e7;
  border-top-right-radius: 12%;
}
#z-steeplechase-4 {
  top: 25%;
  left: 0%;

  background-color: #4a619e;
  border-top-right-radius: 12%;
  border-bottom-right-radius: 12%;
  z-index: 2;
}
#z-steeplechase-4-dubl {
  top: 25%;
  left: 0%;

  background-color: #6c93e7;
  z-index: 1;
}

#z-steeplechase-5 {
  top: 25%;
  left: 33.33%;

  background-color: #6c93e7;
}
#z-steeplechase-6 {
  top: 25%;
  left: 66.66%;

  background-color: #ffc1b9;

  border-bottom-right-radius: 12%;
}
#z-steeplechase-7 {
  top: 50%;
  left: 0%;

  background-color: #6c93e7;
  border-top-left-radius: 12%;
}
#z-steeplechase-8 {
  top: 50%;
  left: 33.33%;

  background-color: #ffc1b9;
}
#z-steeplechase-9 {
  top: 50%;
  left: 66.66%;

  background-color: #4a619e;
  border-top-left-radius: 12%;
  border-bottom-left-radius: 12%;
  z-index: 2;
}
#z-steeplechase-9-dubl {
  top: 50%;
  left: 66.66%;

  background-color: #ffc1b9;
  z-index: 1;
}
#z-steeplechase-10 {
  top: 75%;
  left: 0%;

  background-color: #ffc1b9;
  border-bottom-left-radius: 12%;
}
#z-steeplechase-11 {
  top: 75%;
  left: 33.33%;

  background-color: #6c93e7;
}
#z-steeplechase-12 {
  top: 75%;
  left: 66.66%;

  background-color: #ffc1b9;
  border-top-right-radius: 12%;
  border-bottom-right-radius: 12%;
}
