#c-slide-knights {
  width: 250px;
  height: 250px;
}

#c-slide-knights::before {
  background-image: url(../images/c-slide-knights-board.svg);
}
#c-slide-knights .chess-elem {
  width: 20%;
  height: 20%;
}

#c-s-k-1::before,
#c-s-k-2::before,
#c-s-k-3::before,
#c-s-k-4::before,
#c-s-k-5::before,
#c-s-k-6::before {
  background-image: url(../images/chess-black.svg);
}

#c-s-k-1 {
  top: 0%;
  left: 20%;
}
#c-s-k-2 {
  top: 0%;
  left: 40%;
}
#c-s-k-3 {
  top: 0%;
  left: 60%;
}
#c-s-k-4 {
  top: 80%;
  left: 20%;
}
#c-s-k-5 {
  top: 80%;
  left: 40%;
}
#c-s-k-6 {
  top: 80%;
  left: 60%;
}
