#z-steeplechase {
  width: 150px;
  height: 200px;
}
#z-steeplechase::before {
  background-image: url(../images/z-steeplechase.svg);
}
#z-steeplechase .chess-elem {
  width: 33%;
  height: 25%;
}

#z-s-1::before,
#z-s-2::before,
#z-s-3::before,
#z-s-4::before,
#z-s-5::before,
#z-s-6::before {
  background-image: url(../images/chess-black.svg);
}

#z-s-1 {
  top: 0%;
  left: 0%;
}
#z-s-2 {
  top: 0%;
  left: 33.33%;
}
#z-s-3 {
  top: 0%;
  left: 66.6%;
}
#z-s-4 {
  top: 75%;
  left: 0%;
}
#z-s-5 {
  top: 75%;
  left: 33.33%;
}
#z-s-6 {
  top: 75%;
  left: 66.6%;
}
